@model List<Menusito.Models.ViewModels.ChequeModel>
@{
    ViewBag.Title = "Lista de Cheques";
}

<h2>@ViewBag.Title</h2>
<div class="row" style="text-align:right;padding:5px">
    <a href="~/Cheque/Agregar" class="btn btn-primary btn-lg glyphicon glyphicon-user"> Agregar</a>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-bordered table-sm">
            <tr>
                <th>#</th>
                <th>Numero de Cuenta</th>
                <th>Banco</th>
                <th>Nombre Proveedor</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Descripcion</th>
                <th>Empleado Responsable</th>
            </tr>
            @foreach (var elemento in Model)
            {
                <tr>
                    <td>@elemento.IdCheque</td>
                    <td>@elemento.NCuenta</td>
                    <td>@elemento.NombreBanco</td>
                    <td>@elemento.NombreProveedor</td>
                    <td>@elemento.Fecha</td>
                    <td>@elemento.Valor</td>
                    <td>@elemento.Descripcion</td>
                    <td>@elemento.NombreUsuario</td>
                </tr>
            }
        </table>
    </div>
</div>
